.ant-row {
    display: flex;
    max-width: 980px;
    margin: 0;
}

.ant-empty-image {
    display: none;
}

.ant-empty-description {
    display: none;
}
.ant-list-empty-text {
    display: none !important;
  }